body {
    background: #6b6fbc;
}
.quscontainer {
    overflow-x: hidden;
    min-height: 100%;
    height: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.7;
    font-style: normal;
    font-weight: 400;
    color: #5e5e73;
    -webkit-font-smoothing: antialiased;
}
.qustext {
    text-align: center;
    font-size: 1.4em;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    line-height: 1.3;
    letter-spacing: 0.02em;
    color: #fff;
}
.img {
    --height-img: 120px;
    max-height: var(--height-img);
    max-width: 50%;
    display: block;
    min-height: auto;
    max-height: 35vh;
    margin: 0 auto 20px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    flex-direction: column;
    justify-content: center;
}

.inline-list {
    display: flex;
    flex-direction: row;
}

.icon-end {
    text-align: end;
}
.icon {
    border-color: transparent;
    background-color: transparent;
    cursor: pointer;
    font-size: 30px;
}
.back-btn {
    background-color: blue;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
